*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
  }

.container {

    width: 320px;
    height: 366px;
    margin: 112px 0 0;
    padding: 129px 139px 129px 20px;
    position: relative;
    display:flex;
    text-align: left;
    height: 100vh;
    width: auto;
}

.text {
        position: absolute;
        width: 161px;
        height: 108px;
        font-family: Rubik;
        font-size: 30px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: white;
      }


